<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        ${require('html-loader?interpolate!../../includes/head.html') }
    </head>
    <body>
        ${require('html-loader?interpolate!../../includes/poppup.html') }
        ${require('html-loader?interpolate!../../includes/header-nav.html') }
        ${require('html-loader?interpolate!../../buyer/description.html') }
        ${require('html-loader?interpolate!../../buyer/accordion-buyer.html') }
        ${require('html-loader?interpolate!../../includes/footer.html') }
    </body>
</html>
