<!---------------SEARCH ------------------------------------------->
<div class="search-items d-none">
    <div class="search-items__cont">
        <ul class="search-items__list">
            <li class="search-items__item item-first d-flex">
                <a href="#">Safetyrich Manufacture Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Sahoxing Jifeng Apparel Co Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Sab Unicorn Import & Export Co Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Shaanxi Grandrich Import & Export Co Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Saame Tools (Shaanxi)Import & Export Co Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Eagle Company Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Shaanxi Freeway Export & Import Co Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item d-flex">
                <a href="#">Shaanxi Glass City Enterprisesco Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
            <li class="search-items__item item-last d-flex">
                <a href="#">Eagle Company Limited</a>
                <span></span>
                <a href="#" class="search-items__btn">Verified</a>
            </li>
        </ul>
    </div>
</div>
